// padding
.p-20 {
  padding: 20px;
}

// margin
.m-t-20 {
  margin-top: 20px;
}
.m-t-40 {
  margin-top: 40px;
}

// fonts
.f-15 {
  font-size: 1.5rem !important;
  font-weight: 400 !important;
  line-height: 100% !important;
}
