@font-face {
  font-family: iranyekan;
  font-weight: 200;
  src: url("../fonts/iranyekan/WebFonts/woff/IRANYekanWebThin.woff"),
    url("../fonts/iranyekan/WebFonts/woff2/IRANYekanWebThin.woff2"),
    url("../fonts/iranyekan/WebFonts/ttf/IRANYekanWebThin.ttf"),
    url("../fonts/iranyekan/WebFonts/eot/IRANYekanWebThin.eot"),
    url("../fonts/iranyekan/WebFonts/svg/iranyekanwebthin.svg");
}
@font-face {
  font-family: iranyekan;
  font-weight: 300;
  src: url("../fonts/iranyekan/WebFonts/woff/IRANYekanWebLight.woff"),
    url("../fonts/iranyekan/WebFonts/woff2/IRANYekanWebLight.woff2"),
    url("../fonts/iranyekan/WebFonts/ttf/IRANYekanWebLight.ttf"),
    url("../fonts/iranyekan/WebFonts/eot/IRANYekanWebLight.eot"),
    url("../fonts/iranyekan/WebFonts/svg/iranyekanweblight.svg");
}
@font-face {
  font-family: iranyekan;
  font-weight: 400;
  src: url("../fonts/iranyekan/WebFonts/woff/IRANYekanWebRegular.woff"),
    url("../fonts/iranyekan/WebFonts/woff2/IRANYekanWebRegular.woff2"),
    url("../fonts/iranyekan/WebFonts/ttf/IRANYekanWebRegular.ttf"),
    url("../fonts/iranyekan/WebFonts/eot/IRANYekanWebRegular.eot"),
    url("../fonts/iranyekan/WebFonts/svg/IRANYekanWebRegular.svg");
}
@font-face {
  font-family: iranyekan;
  font-weight: 500;
  src: url("../fonts/iranyekan/WebFonts/woff/IRANYekanWebMedium.woff"),
    url("../fonts/iranyekan/WebFonts/woff2/IRANYekanWebMedium.woff2"),
    url("../fonts/iranyekan/WebFonts/ttf/IRANYekanWebMedium.ttf"),
    url("../fonts/iranyekan/WebFonts/eot/IRANYekanWebMedium.eot"),
    url("../fonts/iranyekan/WebFonts/svg/iranyekanwebmedium.svg");
}
@font-face {
  font-family: iranyekan;
  font-weight: 600;
  src: url("../fonts/iranyekan/WebFonts/woff/IRANYekanWebBold.woff"),
    url("../fonts/iranyekan/WebFonts/woff2/IRANYekanWebBold.woff2"),
    url("../fonts/iranyekan/WebFonts/ttf/IRANYekanWebBold.ttf"),
    url("../fonts/iranyekan/WebFonts/eot/IRANYekanWebBold.eot"),
    url("../fonts/iranyekan/WebFonts/svg/iranyekanwebbold.svg");
}
@font-face {
  font-family: iranyekan;
  font-weight: 700;
  src: url("../fonts/iranyekan/WebFonts/woff/IRANYekanWebExtraBold.woff"),
    url("../fonts/iranyekan/WebFonts/woff2/IRANYekanWebExtraBold.woff2"),
    url("../fonts/iranyekan/WebFonts/ttf/IRANYekanWebExtraBold.ttf"),
    url("../fonts/iranyekan/WebFonts/eot/IRANYekanWebExtraBold.eot"),
    url("../fonts/iranyekan/WebFonts/svg/iranyekanwebextrabold.svg");
}
@font-face {
  font-family: iranyekan;
  font-weight: 800;
  src: url("../fonts/iranyekan/WebFonts/woff/IRANYekanWebBlack.woff"),
    url("../fonts/iranyekan/WebFonts/woff2/IRANYekanWebBlack.woff2"),
    url("../fonts/iranyekan/WebFonts/ttf/IRANYekanWebBlack.ttf"),
    url("../fonts/iranyekan/WebFonts/eot/IRANYekanWebBlack.eot"),
    url("../fonts/iranyekan/WebFonts/svg/iranyekanwebblack.svg");
}
@font-face {
  font-family: iranyekan;
  font-weight: 900;
  src: url("../fonts/iranyekan/WebFonts/woff/IRANYekanWebExtraBlack.woff"),
    url("../fonts/iranyekan/WebFonts/woff2/IRANYekanWebExtraBlack.woff2"),
    url("../fonts/iranyekan/WebFonts/ttf/IRANYekanWebExtraBlack.ttf"),
    url("../fonts/iranyekan/WebFonts/eot/IRANYekanWebExtraBlack.eot"),
    url("../fonts/iranyekan/WebFonts/svg/iranyekanwebextrablack.svg");
}
