@import "../WebFonts/css/fontiran.css";
@import "./globals/text.scss";
@import "./globals/flex.scss";
@import "./globals/globals.scss";
@import "./modal.scss";

@import "./dashboard.scss";
@import "./login.scss";
@import "./topbox.scss";
@import "swiper/css";
@import "./ant/ant-custom.scss";
@import "./ant/ant-template.scss";
@import "./single.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; //for rem (1rem is 10px)
}
body {
  font-family: iranyekan, sans-serif !important;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
