@media only screen and (max-width: 900px) {
  .dashboard-box {
    grid-template-columns: 1fr !important;
  }

  .top-box {
    flex-direction: column !important;
    gap: 10px;
    button {
      width: 100% !important;
    }
    .create-btn {
      width: 100% !important;
    }
    .search {
      flex-direction: column !important;
      gap: 10px;
      width: 100%;
      button {
        width: 100% !important;
      }
    }
  }

  .costum-content {
    padding: 0 !important;
  }
}
