.top-box {
  display: flex;
  //   min-height: 90px;
  width: 100%;
  background-color: #fff;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  border-radius: 5px;

  .search {
    display: flex;
    gap: 10px;
    align-items: center;
    .filter {
      display: flex;
      gap: 10px;
      align-items: center;
    }
  }
  .create-btn {
  }
}
